/*Nav - Home Logo */
#ebb_logo {
    font-size: 25px;
    font-family: 'Lobster', cursive;
    padding: 4px;
    border: solid;
    border-color: white;
    border-radius: 50%;
    color:white;
}

/* Home Page */
#newport_photo {
    border: solid;
}

div.jumbotron {
    padding-top: 15px;
    background-color:#c2d5e8;
}

/*Media Query */
@media (min-width: 500px) {
     h5::before {
         content: "Welcome! Thanks for visting my Project-0 Landing Page.  Please explore to find a bit more about me, my educational background, and my professional experience.";
    }
}
 @media (max-width: 499px) {
     h5::before {
         content: "Thanks for visting my Project-0 Page!";
    }
}

/*About Me Page */
.page_title {
    font-family: 'Lobster', cursive;
    font-size: 60px;
}

#ebb_aboutme {
    border-radius: 10%;
    float: right
}

div.col-sm-12 h1 {
    font-weight: bold;
    font-style: italic
}

.about_wrap {
    background-color: #c2d5e8;
}

.about_contents {
    font-size: 20px;
    list-style: none;
}

.about_keypoint {
    font-style: italic;
    font-weight: bold;   
}

ul#quick_hit_list li:before {
    content: '\f00c';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    color: #57B0FF;
}

ul#interest_list li:before {
    content: '\f067';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    color: #57B0FF;
}

ul#sports_teams {
    list-style: none;
}